table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
  td {
    padding: 15px;
  }
  th {
    padding: 10px;
  }
  
  table {
    box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.75);
  }
  tr:nth-child(even) {
    background-color: lightgreen;
  }
  tr:nth-child(odd) {
    background-color: gainsboro;
  }
  th:nth-child(1) {
    background-color: rgba(0, 149, 255, 0.529);
    color: white;
  }
  th[scope="col"] {
    background-color: rgb(114, 128, 250);
    color: white;
  }
  
  tr:nth-child(6) td:nth-child(3) {
    background-color: rgb(114, 128, 250);
    color: white;
  }
  
  tr td:nth-child(1) {
    border-right: 1px solid lightgray;
  }
  
  tfoot tr td {
    background-color: rgb(114, 128, 250);
    color: white;
    font-size: 13px;
  }
  
  tr td:nth-child(2) {
    border-right: 1px solid lightgray;
  }