@media screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 20% 60% 4% 6% 7%;
    grid-template-rows: 30% 30% 30%;
  }

  #logoImg {
    display: block;
    margin: auto;
  }

  .nameTitle {
    grid-column: 2;
    grid-row: 1;
    margin-top: 20px;
    font-size: 30px;
  }

  .currentDate {
    padding-top: 20px;
    grid-column: 2;
    grid-row: 3;
    width: fit-content;
    height: min-content;
    margin: 0 auto;
  }
  
  #hero {
    height: 100%;
  }

  ul {
    grid-row: 2;
    grid-column: 3/6;
    position: relative;
  }

  .btn {
    width: min-content;
    height: min-content;
    display: block;
    margin: auto;
  }

  i {
    width: min-content;
    height: min-content;
    display: block;
    margin: auto;
  }

  main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
  }

  main div {
    text-align: center;
  }

  #hero {
    grid-row: 1;
    grid-column: 1/3;
  }

  #news {
    grid-row: 2;
    grid-column: 1/3;
  }

  .spotlight {
    grid-row: 3;
    display: flex;
    justify-content: center;
    grid-column: 1/3;
  }

  #join {
    grid-row: 4;
    grid-column: 1/3;
    display: block;
  }

  #weather {
    grid-column: 1;
    grid-row: 5;
    display: inline-block;
  }

  #event {
    grid-column: 2;
    grid-row: 5;
    float: right;
    position: relative;
  }

  .footer {
    display: grid;
    justify-content: space-around;
    margin-top: 20px;
  }

  footer div img {
    grid-row: 2;
  }

  #location {
    grid-row: 2;
  }
  
  #contact {
    grid-row: 2;
  }

  #memberships {
    display: block;
  }

  /* Directory page */
.directoryCards {
  display: none;
  grid-template-columns: 50% 50%;
}

.directoryTable {
  display: block;
}

}

